main { /*This is to stop the filter blur from the image, showing at the top of the section title container*/
    display: inline-block;
}
.body-dark-mode {
    background-color: var(--dark-mode);
    color: var(--light-mode);
}
#home {
    position: absolute;
    margin-top: -5em;
}
.section-title-container {
    margin-top: 4.95em;
}
@media only screen and (max-width: 600px) {
    .section-title {
        width: 75%;
        line-height: 0.75em;
    }
}
.privacy-policy-content-navigation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 5em auto;
    background-color: var(--light-grey);
    border-radius: 24px;
    box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.75);
}
.privacy-policy-content-navigation-container-dark-mode {
    background-color: var(--darkest-grey);
}
.privacy-policy-content-navigation-container h2 {
    width: 80%;
    margin: 1.5em 0 0;
    padding-left: 0.33em;
    font-size: 1.5rem;
    font-family: "roboto-bold", Arial;
    letter-spacing: 0.01em;
    text-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--lightest-grey);
    color: var(--dark-mode);
    border-left: 3px solid var(--secondary-color);
}
.privacy-policy-content-navigation-container h2.navigation-h2-dark-mode {
    background-color: var(--darker-grey);
    color: var(--light-mode);
    /* filter: brightness(0.85); */
}
.privacy-policy-content-navigation-links {
    padding: 0;
    list-style-type: none;
}
.privacy-policy-content-navigation-links li::before {
    display: inline-block;
    margin: 0 0.25em 0.15em 0;
    font-size: 1.5em;
    vertical-align: middle;
    color: var(--darker-grey);
    content: "•";
}
.privacy-policy-content-navigation-links li.navigation-li-dark-mode::before {
    display: inline-block;
    margin: 0 0.25em 0.15em 0;
    font-size: 1.5em;
    vertical-align: middle;
    color: var(--dark-grey);
    content: "•";
}
.privacy-policy-content-navigation-links a {
    padding: 0.2em 1em;
    font-size: 1.05em;
    font-family: "roboto-bold", Arial;
    line-height: 2.5em;
    text-decoration: none;
    color: var(--dark-mode);
    transition: background-color 1s;
}
.privacy-policy-content-navigation-links a.navigation-a-dark-mode {
    color: var(--lightest-grey);
}
.privacy-policy-content-navigation-links a:hover,
.privacy-policy-content-navigation-links a:focus {
    background-color: var(--secondary-color);
    color: var(--light-mode);
}
.privacy-policy-page-content-container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5em;
}
#introduction {
    margin-top: -4.99em;
}
#use-of-hcaptcha,
#use-of-web3forms,
#cookies,
#data-security,
#your-rights,
#changes-to-this-privacy-policy,
#contact-information {
    margin-top: -1.949em;
}
.privacy-policy-page-content-container h2 {
    margin: 2.7em 0 1.27em;
    padding-left: 0.33em;
    font-size: 1.5rem;
    font-family: "roboto-bold", Arial;
    letter-spacing: 0.01em;
    text-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--lightest-grey);
    color: var(--dark-mode);
    border-left: 3px solid var(--secondary-color);
}
.privacy-policy-page-content-container h2.h2-dark-mode {
    text-shadow: 1.5px 1.5px 4px rgba(255, 255, 255, 0.2);
    background-color: var(--darker-grey);
    color: var(--light-mode);
}
.privacy-policy-page-content-container p {
    margin: 1em 0;
    font-size: 1rem;
    font-family: "roboto-regular", Arial;
    line-height: 1.35;
    color: var(--darkest-grey);
}
.privacy-policy-page-content-container p.p-dark-mode {
    color: var(--light-grey);
}
.privacy-policy-page-content-container a {
    padding: 0 0.2em;
    font-family: "roboto-regular", Arial;
    font-weight: 900;
    color: var(--darkest-grey);
    transition: background-color 1.25s;
}
.privacy-policy-page-content-container a:hover,
.privacy-policy-page-content-container a:focus {
    background-color: var(--secondary-color);
    color: var(--light-mode);
}
.privacy-policy-page-content-container a.a-dark-mode {
    color: var(--lightest-grey);
}
/*Thought this was needed to fix the footer bottom container issue, I don't think it is needed anymore, keeping it for final tests in case it is needed.*/
/*This is to stop the footers contents aligning different to the portfolio pages, bottom footer.*/
/* .footer-bottom-navigation-container {
    padding-bottom: 0.1em;
}
.footer-bottom-navigation-container article {
    position: relative;
    bottom: -0.01em;
}
.footer-bottom-copyright-sign {
    position: relative;
    margin: 0 0 0.5em 0;
}
.footer-bottom-copyright-year, .footer-bottom-copyright {
    position: relative;
    margin: 0 0 0.4em 0;
} */

