@font-face { font-family: "roboto-bold"; src: url(../assets/fonts/roboto-bold-webfont.woff2);}
@font-face { font-family: "roboto-medium"; src: url(../assets/fonts/roboto-medium-webfont.woff2);}
@font-face { font-family: "tomorrow-light"; src: url(../assets/fonts/tomorrow-light-webfont.woff2);}
/*CSS Variables*/
:root {
    --primary-color: #FFA724;
    --secondary-color: #A26D5F;
    --third-color: #FFCC7E;
    --darkest-grey: #404040;
    --darker-grey: #646464;
    --dark-grey: #959595;
    --light-grey: #C6C6C6;
    --lightest-grey: #EAEAEA;
    --dark-mode: #242424;
    --light-mode: #FEFEFE;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}