@font-face { font-family: "roboto-bold"; src: url(../assets/fonts/roboto-bold-webfont.woff2);}
@font-face { font-family: "roboto-medium"; src: url(../assets/fonts/roboto-medium-webfont.woff2);}
@font-face { font-family: "tomorrow-light"; src: url(../assets/fonts/tomorrow-light-webfont.woff2);}
:root {
    --primary-color: #FFA724;
    --secondary-color: #A26D5F;
    --third-color: #FFCC7E;
    --darkest-grey: #404040;
    --darker-grey: #646464;
    --dark-grey: #959595;
    --light-grey: #C6C6C6;
    --lightest-grey: #EAEAEA;
    --dark-mode: #242424;
    --light-mode: #FEFEFE;
}
*, *::after, *::before {
    box-sizing: border-box;
}
body {
    position: relative; 
    margin: 0;
    overflow-x: hidden;
}
.top-navigation-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    top: 0;
    left: 0;
    padding-left: 2rem;
    background-color: var(--primary-color);
}
.logo {
    width: 5rem;
    height: 2.5rem;
    margin-right: auto;
}
.logo-path1 {
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.logo-path2 {
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.logo-path3 {
    stroke: var(--darker-grey);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.logo-path4, .logo-path5, .logo-path7, .logo-path8 {
    fill: var(--lightest-grey);
}
.logo-path6 {
    stroke: var(--dark-grey);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.logo-path9 {
    fill: var(--lightest-grey);
    stroke-linecap: round;
    stroke-width: 0.1rem;
}
.logo-path10 {
    stroke: var(--darker-grey);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.logo-path11 {
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.logo-path12 {
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.dark-mode-icon-container ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
.fa-moon {
    font-size: 1.25rem;
    color: var(--dark-mode);
}
.hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 2rem 0 1rem;
    cursor: pointer;
}
.hamburger-menu-topline {
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.hamburger-menu-middleline {
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.hamburger-menu-bottomline {
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.accordion-navigation-bar-hide {
    position: absolute;
    right: 0;
    visibility: hidden;
}
.accordion-navigation-bar {
    position: fixed;
    width: 100%;
    height: 2.5rem;
    top: 0;
    margin-top: 2.5rem;
    background-image: linear-gradient(to bottom, var(--primary-color), var(--third-color));
}
.accordion-navigation-bar-nav .accordion-navigation-bar-ul .accordion-navigation-bar-li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 2.5rem;
}
.accordion-navigation-bar-ul {
    margin: 0;
    padding-left: 0;
}
.accordion-navigation-bar-li a {
    padding: 0.1rem 1rem;
    font-family: "roboto-medium", Arial;
    color: var(--dark-mode);
    text-decoration: none;
    transition: background 0.5s ease-in;
}
@media only screen and (max-width: 410px) {
    .accordion-navigation-bar-li a {
        display: flex;
        justify-content: space-between;
        width: 75%;
        padding: 0.1rem 0.70rem;
        text-align: center;
    }
    .accordion-navigation-bar-li a:first-child {
        margin-left: 5rem;
    }
    .accordion-navigation-bar-li a:last-child {
        margin-right: 5rem;
    }
}
@media only screen and (max-width: 355px) {
    .accordion-navigation-bar-li a {
        display: flex;
        justify-content: space-between;
        width: 75%;
        padding: 0.1rem 0.30rem;
        text-align: center;
    }
    .accordion-navigation-bar-li a:first-child {
        margin-left: 5rem;
    }
    .accordion-navigation-bar-li a:last-child {
        margin-right: 5rem;
    }
}
.accordion-navigation-bar-li a:hover {
    color: var(--light-mode);
    background-color: var(--secondary-color);
}
.section-title-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8.150rem;
    margin-top: 5rem;
    background-color: var(--darker-grey);
}
.section-title {
    padding-top: 3.5rem;
    font-size: 2.813rem;
    font-family: "tomorrow-light";
    color: var(--light-mode);
    letter-spacing: 0.75rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
@media only screen and (max-width: 400px) {
    .section-title {
        letter-spacing: 0.25rem;
    }
}
.thank-you-page-content {
    min-height: 100vh;
}
.thank-you-page-content-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.thank-you-svg-animation {
    width: 75%;
    height: 6.25rem;
    margin-top: 1.5rem;
}
.svg-gradient1 {
    stop-color: var(--primary-color);
    stop-opacity:1
}
.svg-gradient2 {
    stop-color: var(--secondary-color);
    stop-opacity:1
}
.thank-you-writing1 {
    stroke: var(--primary-color);
    fill: none;
    stroke-width: 0.60rem;
    stroke-linecap: round;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    white-space: nowrap;
}
@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}
.thank-you-writing2 {
    stroke: url(#thank-you-gradient);
    fill: none;
    stroke-width: 0.25rem;
    stroke-linecap: round;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
}
.message-sent-paragraph {
    margin: 1rem 1rem 0;
    font-size: 1rem;
    font-family: "roboto-medium", Arial;
    color: var(--dark-mode);
    text-align: center;
}
.envelope-svg-animation {
    width: 15rem;
    height: 7.5rem;
}
.envelope-animation1 {
    stroke: var(--dark-grey);
    fill: none;
    stroke-width: 0.5rem;
    stroke-linecap: round;
}
.envelope-animation2 {
    stroke: var(--light-mode);
    fill: none;
    stroke-width: 0.15rem;
}
.envelope-animation3 {
    stroke: var(--light-grey);
    fill: none;
    stroke-width: 0.5rem;
    stroke-linecap: round;
}
.thank-you-page-button-flex-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    align-items: center;
    width: 100%;
}
@media only screen and (max-width: 565px) {
    .thank-you-page-button-flex-container {
        flex-direction: column;
    }
    .button-container {
        margin: 0.5rem 0;
    }
}
.button-container {
    width: 15.5rem;
    height: 2.5rem;
    margin: 0.5rem 0;
    padding: 0 2rem;
    font-size: 1rem;
    font-family: "roboto-bold", Arial;
    color: var(--light-mode);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5rem;
    cursor: pointer;
}
.button-container:hover {
    filter: brightness(90%);
}