main { /*This is to stop the filter blur from the image, showing at the top of the section title container*/
    display: inline-block;
    width: 100%;
}
.body-dark-mode {
    background-color: var(--dark-mode);
    color: var(--light-mode);
}
#home {
    position: absolute;
    margin-top: -5em;
}
.section-title-container {
    margin-top: 5em;
}
.thank-you-page-landing-page-section-container {
    min-height: 100%;
    padding-bottom: 4em;
    background-color: var(--light-mode);
}
.thank-you-page-landing-page-section-container-dark-mode {
    background-color: var(--dark-mode);
}
.thank-you-page-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.thank-you-message-svg-animation {
    width: 75%;
    height: 100px;
    margin-top: 1.5em;
}
@media only screen and (min-width: 660px) {
    .thank-you-message-svg-animation {
        margin: 2.75em 0 1.5em;
    }
}
.svg-animation-gradient-primary-color {
    stop-color: var(--primary-color);
    stop-opacity: 1;
}
.svg-animation-gradient-secondary-color {
    stop-color: var(--secondary-color);
    stop-opacity: 1;
}
.thank-you-message-svg-animation-writing {
    white-space: nowrap;
    stroke: var(--primary-color);
    fill: none;
    stroke-linecap: round;
    stroke-width: 9.6px;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
}
@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}
.thank-you-message-svg-animation-writing-underline {
    stroke: url(#thank-you-message-svg-animation-gradient);
    fill: none;
    stroke-linecap: round;
    stroke-width: 4px;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
}
.message-sent-paragraph-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 1em 0 1em;
    background-color: var(--lightest-grey);
    border-radius: 24px;
    box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 550px) {
    .message-sent-paragraph-container {
        margin: 2em 0 1em;
    }
}
.message-sent-paragraph-container-dark-mode {
    background-color: var(--darkest-grey);
}
.message-sent-paragraph {
    width: 80%;
    margin: 0.75em 0;
    font-size: 1rem;
    font-family: "roboto-medium", Arial;
    text-align: center;
    color: var(--dark-mode);
}
.message-sent-paragraph-dark-mode {
    color: var(--light-mode);
}
.message-sent-envelope-svg {
    width: 240px;
    height: 120px;
}
.message-sent-envelope-svg-envelope {
    stroke: var(--dark-grey);
    fill: none;
    stroke-linecap: round;
    stroke-width: 8px;
}
.message-sent-envelope-svg-envelope-dark-mode {
    stroke: var(--dark-grey);
}
.message-sent-envelope-svg-envelope-end-gap {
    stroke: var(--light-mode);
    fill: none;
    stroke-width: 2.4px;
}
.message-sent-envelope-svg-envelope-end-gap-dark-mode {
    stroke: var(--dark-mode);
}
.message-sent-envelope-svg-envelope-line {
    stroke: var(--light-grey);
    fill: none;
    stroke-linecap: round;
    stroke-width: 8px;
}
.message-sent-envelope-svg-envelope-line-dark-mode {
    stroke: var(--darker-grey);
}
.thank-you-page-button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 1em;
}
@media only screen and (max-width: 565px) {
    .thank-you-page-button-container {
        flex-direction: column;
    }
    .thank-you-page-button {
        margin: 0.5em 0;
    }
}
.thank-you-page-button {
    width: 256px;
    height: 48px;
    margin: 0 0 2em 0;
    padding: 0 2em;
    font-size: 1rem;
    font-family: "roboto-bold", Arial;
    background-color: var(--secondary-color);
    color: var(--light-mode);
    border: none;
    border-radius: 80px;
    box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s;
    cursor: pointer;
}
.thank-you-page-button:hover {
    background-color: rgb(144.3, 92.9, 79.5);
}
.fa-arrow-left-long {
    margin-right: 0.3em;
    font-size: 1rem;
}