.main-dark-mode {
    background-color: var(--dark-mode);
    color: var(--light-mode);
}
main {
    display: inline-block; /* Prevents the blurred body::before background from bleeding into the top of <main> */
    width: 100%;
}
#home {
    position: absolute;
    margin-top: -5em;
}
.section-title-container {
    margin-top: 4.95em;
}
.thank-you-page-landing-page-section-container {
    min-height: 100%;
    padding-bottom: 4em;
    background-color: var(--light-mode);
}
.thank-you-page-landing-page-section-container-dark-mode {
    background-color: var(--dark-mode);
}
.thank-you-page-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.typing-animation-container {
    margin: 2em 0 1.5em;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.typing-animation-text {
    font-size: 3.5rem;
    font-family: "roboto-bold", Arial;
    font-weight: 600;
    color: var(--primary-color);
    white-space: nowrap;
}

.message-sent-paragraph-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 1em 0 1em;
    padding: 2.5em 0;
    background-color: var(--lightest-grey);
    border-radius: 24px;
    box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.5);
}
.message-sent-paragraph-container-dark-mode {
    background-color: var(--darkest-grey);
}
.message-sent-paragraph {
    width: 80%;
    margin: 0.75em 0;
    font-size: 1rem;
    font-family: "roboto-regular", Arial;
    font-weight: 600;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--darkest-grey);
}
p.message-sent-paragraph:nth-child(2) {
    margin-top: 0;
    color: var(--darker-grey);
}
.message-sent-paragraph-dark-mode {
    color: var(--light-mode);
}
p.message-sent-paragraph-dark-mode:nth-child(2) {
    color: var(--light-grey);
}

.message-sent-envelope-svg {
    width: 240px;
    height: 120px;
}
.svg-envelope-gradient-primary-color {
    stop-color: var(--primary-color);
    stop-opacity: 1;
}
.svg-envelope-gradient-secondary-color {
    stop-color: var(--secondary-color);
    stop-opacity: 1;
}
.message-sent-envelope-svg-envelope {
    stroke: url(#message-sent-envolope-svg-gradient);
    fill: none;
    stroke-linecap: round;
    stroke-width: 8px;
}
.message-sent-envelope-svg-envelope-end-gap {
    stroke: var(--light-mode);
    fill: none;
    stroke-width: 2.4px;
}
.message-sent-envelope-svg-envelope-end-gap-dark-mode {
    stroke: var(--dark-mode);
}
.message-sent-envelope-svg-envelope-line {
    stroke: var(--light-grey);
    fill: none;
    stroke-linecap: round;
    stroke-width: 8px;
}
.message-sent-envelope-svg-envelope-line-dark-mode {
    stroke: var(--darker-grey);
}

.thank-you-page-button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 1em;
}
@media only screen and (max-width: 780px) {
    .thank-you-page-button-container {
        flex-direction: column;
    }
    .thank-you-page-button {
        margin: 0.5em 0;
    }
}
.back-to-portfolio-button,
.send-another-message-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 48px;
    margin: 0 0 2em 0;
    padding: 0 2em;
    font-size: 1rem;
    font-family: "roboto-medium", Arial;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-decoration: none;
    border: none;
    border-radius: 80px;
    box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s;
    cursor: pointer;
}
.back-to-portfolio-button:hover,
.send-another-message-button:hover {
    background-color: var(--third-color);
}
.back-to-portfolio-button {
    background-color: var(--primary-color);
    color: var(--darkest-grey);    
}
.send-another-message-button {
    background-color: var(--secondary-color);
    color: var(--light-mode);
}
.send-another-message-button:hover {
    color: var(--darkest-grey);
}
.fa-arrow-left-long {
    margin-right: 0.3em;
    font-size: 1rem;
}