@font-face { font-family: "roboto-bold"; src: url(../assets/fonts/roboto-bold-webfont.woff2);}
@font-face { font-family: "roboto-medium"; src: url(../assets/fonts/roboto-medium-webfont.woff2);}
@font-face { font-family: "tomorrow-light"; src: url(../assets/fonts/tomorrow-light-webfont.woff2);}
/*CSS Variables*/
:root {
    --primary-color: #FFA724;
    --secondary-color: #A26D5F;
    --third-color: #FFCC7E;
    --darkest-grey: #404040;
    --darker-grey: #646464;
    --dark-grey: #959595;
    --light-grey: #C6C6C6;
    --lightest-grey: #EAEAEA;
    --dark-mode: #242424;
    --light-mode: #FEFEFE;
}
*, *::after, *::before {
    box-sizing: border-box;
}
body {
    position: relative; 
    margin: 0;
    overflow-x: hidden;
}
body.dark-mode {
    background-color: var(--dark-mode);
    color: var(--light-mode);
}
body::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: url("../assets/images/1_image-code9.jpg") fixed no-repeat center;
    background-size: cover;
    filter: blur(1px); 
    content: "";
}
.dark-mode-popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 95%;
    height: 28rem;
    text-align: center;
    background-color: var(--light-mode);
    border: 1px var(--dark-mode) solid;
    border-radius: 2rem;
    transform: translate(2.5%, 20%);
}
.pop-up-paragraph1 {
    margin: 1rem;
    font-size: 1.5rem;
    font-family: "tomorrow-regular", Arial;
    font-weight: 600;
}
.pop-up-paragraph2, .pop-up-paragraph3 {
    padding: 0 2rem;
    font-family: "roboto-regular", Arial;
}
.pop-up-allow {
    position: fixed;
    top: 75%;
    left: 5%;
    z-index: 12;
    width: 25%;
    height: 2.5rem;
    font-size: 1rem;
    font-family: "roboto-bold", Arial;
    background-color: var(--primary-color);
    color: var(--dark-mode);
    border: none;
    border-radius: 5rem;
    transform: translate(50%, 50%);
    cursor: pointer;
}
.pop-up-decline {
    position: fixed;
    top: 75%;
    right: 30%;
    z-index: 12;
    width: 25%;
    height: 2.5rem;
    font-size: 1rem;
    font-family: "roboto-bold", Arial;
    background-color: var(--primary-color);
    color: var(--dark-mode);
    border: none;
    border-radius: 5rem;
    transform: translate(50%, 50%);
    cursor: pointer;
}
.top-navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    padding-left: 2rem;
    background-color: var(--primary-color);
}
.logo {
    width: 5rem;
    height: 2.5rem;
    margin-right: auto;
}
.logo-path1 {
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.logo-path2 {
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.logo-path3 {
    stroke: var(--darker-grey);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.logo-path4, .logo-path5, .logo-path7, .logo-path8 {
    fill: var(--lightest-grey);
}
.logo-path6 {
    stroke: var(--dark-grey);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.logo-path9 {
    fill: var(--lightest-grey);
    stroke-linecap: round;
    stroke-width: 0.1rem;
}
.logo-path10 {
    stroke: var(--darker-grey);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.logo-path11 {
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.logo-path12 {
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.dark-mode-icon-container {
    position: relative;
    display: inline-block;
}
.dark-mode-icon-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 0;
}
li {
    list-style-type: none;
}
.fa-moon {
    font-size: 1.25rem;
    color: var(--dark-mode);
    cursor: pointer;
}
.fa-sun {
    font-size: 1.1rem;
    color: var(--light-mode);
    visibility: hidden;
    cursor: pointer;
}
.fa-moon, .fa-sun {
    position: absolute;
    top: 0;
    left: 0;
}
.hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 2rem 0 -0.25rem;
    cursor: pointer;
}
.hamburger-menu-topline {
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.hamburger-menu-middleline {
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.hamburger-menu-bottomline {
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.accordion-navigation-bar-hide {
    position: absolute;
    right: 0;
    visibility: hidden;
}
.accordion-navigation-bar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 2.5rem;
    margin-top: 2.5rem;
    background-image: linear-gradient(to bottom, var(--primary-color), var(--third-color));
}
.accordion-navigation-bar-nav .accordion-navigation-bar-ul .accordion-navigation-bar-li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 2.5rem;
}
.accordion-navigation-bar-ul {
    margin: 0;
    padding-left: 0;
}
.accordion-navigation-bar-li a {
    padding: 0.1rem 1rem;
    font-family: "roboto-medium", Arial;
    text-decoration: none;
    color: var(--dark-mode);
    transition: background 0.5s ease-in;
}
@media only screen and (max-width: 410px) {
    .accordion-navigation-bar-li a {
        display: flex;
        justify-content: space-between;
        width: 75%;
        padding: 0.1rem 0.70rem;
        text-align: center;
    }
    .accordion-navigation-bar-li a:first-child {
        margin-left: 5rem;
    }
    .accordion-navigation-bar-li a:last-child {
        margin-right: 5rem;
    }
}
@media only screen and (max-width: 355px) {
    .accordion-navigation-bar-li a {
        display: flex;
        justify-content: space-between;
        width: 75%;
        padding: 0.1rem 0.30rem;
        text-align: center;
    }
    .accordion-navigation-bar-li a:first-child {
        margin-left: 5rem;
    }
    .accordion-navigation-bar-li a:last-child {
        margin-right: 5rem;
    }
}
.accordion-navigation-bar-li a:hover {
    background-color: var(--secondary-color);
    color: var(--light-mode);
}
#home {
    position: absolute;
    margin-top: -5rem;
}
.section-title-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8.150rem;
    margin-top: 5rem;
    background-color: var(--darker-grey);
}
.section-title {
    padding-top: 3.5rem;
    font-size: 2.813rem;
    font-family: "tomorrow-light";
    letter-spacing: 0.75rem;
    color: var(--light-mode);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
@media only screen and (max-width: 400px) {
    .section-title {
        letter-spacing: 0.25rem;
    }
}
.thank-you-page-content {
    min-height: 100%;
    padding-bottom: 4rem;
    background-color: var(--light-mode);
}
.thank-you-page-content-dark-mode {
    background-color: var(--dark-mode);
}
.thank-you-page-content-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.thank-you-svg-animation {
    width: 75%;
    height: 6.25rem;
    margin-top: 1.5rem;
}
.svg-gradient1 {
    stop-color: var(--primary-color);
    stop-opacity: 1;
}
.svg-gradient2 {
    stop-color: var(--secondary-color);
    stop-opacity: 1;
}
.thank-you-writing1 {
    white-space: nowrap;
    stroke: var(--primary-color);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.60rem;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
}
@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}
.thank-you-writing2 {
    stroke: url(#thank-you-gradient);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.25rem;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
}
.message-sent-paragraph-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 1rem 0 1rem;
    background-color: var(--lightest-grey);
    border-radius: 1.5rem;
}
@media only screen and (min-width: 550px) {
    .message-sent-paragraph-container {
        margin: 2rem 0 1rem;
    }
}
.message-sent-paragraph-container-dark-mode {
    background-color: var(--darkest-grey);
}
.message-sent-paragraph {
    width: 80%;
    margin: 0.75rem 0;
    font-size: 1rem;
    font-family: "roboto-medium", Arial;
    text-align: center;
    color: var(--dark-mode);
}
.message-sent-paragraph-dark-mode {
    color: var(--light-mode);
}
.envelope-svg {
    width: 15rem;
    height: 7.5rem;
}
.envelope1 {
    stroke: var(--dark-grey);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.5rem;
}
.envelope1-dark-mode {
    stroke: var(--dark-grey);
}
.envelope2 {
    stroke: var(--light-mode);
    fill: none;
    stroke-width: 0.15rem;
}
.envelope2-dark-mode {
    stroke: var(--dark-mode);
}
.envelope3 {
    stroke: var(--light-grey);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.5rem;
}
.envelope3-dark-mode {
    stroke: var(--darker-grey);
}
.thank-you-page-button-flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}
@media only screen and (max-width: 565px) {
    .thank-you-page-button-flex-container {
        flex-direction: column;
    }
    .button-container {
        margin: 0.5rem 0;
    }
}
.button-container {
    width: 15.5rem;
    height: 3rem;
    margin: 0 0 2rem 0;
    padding: 0 2rem;
    font-size: 1rem;
    font-family: "roboto-bold", Arial;
    background-color: var(--secondary-color);
    color: var(--light-mode);
    border: none;
    border-radius: 5rem;
    box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s;
    cursor: pointer;
}
.button-container:hover {
    background-color: rgb(144.3, 92.9, 79.5);
}
.footer-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 15rem;
    text-align: center;
    background-color: var(--light-mode);
}
.footer-content-dark-mode {
    background-color: var(--dark-mode);
}
.footer-links-container {
    margin-bottom: 6.5rem;
}
.footer-links {
    margin: 0 0 2rem 0;
    padding: 0;
}
.footer-links li:first-child {
    margin-bottom: 1rem;
}
.footer-links a {
    font-size: 1rem;
    font-family: "roboto-bold", Arial;
    line-height: 2.5rem;
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.5s;
}
.footer-links a:hover {
    color: var(--secondary-color);
}
a.footer-link-backtotop {
    color: var(--dark-mode);
    transition: color 0s;
}
a.footer-link-backtotop:hover {
    color: var(--secondary-color);
    transition: color 0.5s;
}
a.footer-link-back-to-top-dark-mode {
    color: var(--light-mode);
}
.absolute-footer-links {
    font-size: 1rem;
    font-family: "roboto-regular", Arial;
}
.absolute-footer-links-dark-mode {
    color: var(--light-mode);
}
.absolute-footer-links a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.5s;
}
.absolute-footer-links a:hover {
    color: var(--secondary-color);
}
.footer-bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 7.5rem;
    background-color: var(--darker-grey);
    border-top: 1rem solid var(--dark-mode);
}
.footer-bottom-dark-mode {
    border-top: 1rem solid var(--light-mode);
}
.footer-bottom > article > p {
    display: inline;
}
.footer-icons {
    display: flex;
    flex-direction: row;
    margin: 0;
}
.footer-icons a {
    margin-right: 1rem;
    font-size: 1.5rem;
    color: var(--light-mode);
}
.fa-linkedin, .fa-square-github {
    transition: color 0.5s;
}
.fa-linkedin:hover, .fa-square-github:hover {
    color: var(--primary-color);
}
.footer-copyright, .footer-copyright-year {
    display: inline;
    font-size: 0.65rem;
    font-family: "roboto-light", Arial;
    color: var(--light-grey);
}
.footer-copyright-year {
    font-family: "roboto-bold", Arial;
}
.footer-copyright-sign {
    font-size: 1.5rem;
    font-family: "roboto-bold", Arial;
}
.footer-copyright-dark-mode, .footer-copyright-year-dark-mode, .footer-copyright-sign-dark-mode {
    color: var(--dark-mode);
}
.footer-bottom > article:nth-child(2) > a:nth-child(5) {
    float: left;
    font-size: 0.65rem;
    font-family: "roboto-bold", Arial;
    text-decoration: none;
    color: var(--light-grey);
}