/*
Responsive CSS Order:
1. The media query blocks are organized to follow the structure of the HTML, starting with elements that appear at the top and progressing downward.
2. If there is any group selectors in the media query block, they appear on the top of the media query block.
3. If there are any pseudo selectors or group pseudo selectors, they appear underneath the selectors they relate to.
4. Media queries are organized from the largest to the smallest screen sizes, with larger screen styles defined first and smaller screen styles overriding them as needed.
*/
@media only screen and (orientation: landscape) and (max-height: 550px) {
    .dark-mode-modal-container {
        position: absolute;
        margin-top: -2.25em;
        height: 328px;
        overflow-y: scroll;
    }
    .dark-mode-modal-second-paragraph {
        margin-bottom: 10em;
    }
    .dark-mode-modal-allow-button,
    .dark-mode-modal-decline-button {
        margin-top: 7.55em;
    }
    .dark-mode-modal-allow-button {
        margin-right: 25%;
    }
    .dark-mode-modal-decline-button {
        margin-left: 25%;
    }
}
@media only screen and (orientation: portrait) and (max-height: 650px) {
    .dark-mode-modal-container {
        position: absolute;
        margin-top: -4em;
        height: 468px;
        overflow-y: auto;
    }
    .dark-mode-modal-second-paragraph {
        margin-bottom: 10em;
    }
    .dark-mode-modal-allow-button {
        position: relative;
        margin: 1em 25% 0 0;
    }
    .dark-mode-modal-decline-button {
        position: relative;
        margin: 1em 0 0 25%;
    }
}
@media only screen and (orientation: landscape) and (max-height: 550px) and (min-width: 550px) {
    .dark-mode-modal-allow-button, .dark-mode-modal-decline-button {
      margin-top: 0.5em;
    }
  }
@media only screen and (min-width: 950px) {
    .dark-mode-modal-first-paragraph,
    .dark-mode-modal-second-paragraph {
        margin-top: 3.25em;
    }
}
@media only screen and (orientation: landscape) and (max-height: 550px) {
    .hcaptcha-modal-container {
        margin-top: -3em;
        height: 255px;
        padding-bottom: 10em;
        overflow-y: auto;
    }
}
@media only screen and (orientation: landscape) and (min-height: 550px) {
    .hcaptcha-modal-container {
        height: 255px;
    }
}
@media only screen and (orientation: portrait) and (max-height: 650px) {
    .hcaptcha-modal-container {
        margin-top: -3em;
        height: 255px;
        padding-bottom: 10em;
        overflow-y: auto;
    }
}
@media only screen and (orientation: portrait) and (min-height: 650px) {
    .hcaptcha-modal-container {
        height: 255px;
    }
}
@media only screen and (orientation: portrait) and (max-width: 332px) {
    .hcaptcha-modal-container {
        height: 275px;       
    }
}

@media only screen and (max-width: 313px) {
    body::before {
        background: var(--darker-grey);
    }
    .footer-section-container {
        margin-top: 8.125em;
    }
}

@media only screen and (max-width: 410px) {
    .top-navigation-bar-accordion-links > li {
        width: 75%;
        padding: 0.1em 0.70em;
        text-align: center;
    }
    .top-navigation-bar-accordion-links > li:first-child {
        margin-left: 5em;
    }
    .top-navigation-bar-accordion-links > li:last-child {
        margin-right: 5em;
    }
}
@media only screen and (max-width: 355px) {
    .top-navigation-bar-accordion-links > li {
        padding: 0.1em 0.30em;
    }
}

@media only screen and (min-width: 770px) {
    .landing-page-section-container {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .landing-page-title-container {
        margin-top: 0.36em;
    }
    .laptop-image-container {
        margin-top: 1em;
    }
}
@media only screen and (max-width: 599px) {
    .landing-page-section-container {
        background: transparent;
    }
}

@media only screen and (min-width: 1180px) {
    .profile-content-container {
        position: relative;
        display: flex;
        flex-direction: row;
    }
     /*?Changed the layout of the profile headshot and quotation container, need to try and make it as centered in the grey part of the profile container as possible.
     The CSS on top of each declaration block is the original code, the declarations under that are the changed properties and values.*/
    .profile-headshot {
        position: absolute;
        display: flex;
        align-self: center;
        /* right: 0; */
        /* margin: 0 20% 15em 0; */



        /* right: -68px; */
        right: -73px;
        margin: 0 20% 11em 0;
        width: 268px;
        height: 268px
    }
    .profile-quotation-container {
        position: absolute;
        display: flex;
        align-self: center;
        /* right: -68px; */
        /* margin: 12em 20% 0 0; */



        right: -73px;
        margin: 18em 20% 0 0;
    }
    .profile-introduction-container {
        width: 50%;
        margin: 0;
        padding: 2.5em 3em 0;
        border-radius: 24px 0 0 24px;
    }
}
@media only screen and (max-width: 685px) {
    .profile-quotation-container {
        margin-top: 10.75em;
    }
    .profile-introduction-container {
        margin-top: -14.25em;
        padding-top: 17.25em;
    }
}
@media only screen and (max-width: 600px) {
    .profile-introduction-download-cv-button {
        min-width: 150px;
        margin: 3.5em auto 3em;
    }
}
@media only screen and (max-width: 465px) {
    .profile-introduction-container {
        width: 100%;
        margin: -14.25em auto 0;
    } 
}
@media only screen and (min-width: 1000px) {
    .section-introduction-container {
        width: 43.5%;
    }
}

@media only screen and (min-width: 1200px) {
    .portfolio-websites-slider-container {
        width: 50%;
    }
}
@media only screen and (max-width: 770px) {
    .portfolio-websites-slider-container {
        width: 100%;
    }
}
@media only screen and (max-width: 650px) {
    .portfolio-websites-button-container {
        flex-direction: column;
        align-items: center;
    }
    .portfolio-websites-view-website-button,
    .portfolio-websites-view-source-code-button {
        border-right: none;
        border-left: none;
    }
    .portfolio-websites-view-website-button {
        border-top: none;
        border-bottom: 0.16px solid var(--light-mode);        
    }
    .portfolio-websites-view-source-code-button {
        border-top: 0.16px solid var(--light-mode);
        border-bottom: none;        
    }
}
@media only screen and (max-width: 600px) {
    .portfolio-websites-slider-left-arrow {
        background-image: linear-gradient(to top, var(--dark-grey), var(--dark-grey), var(--darker-grey));
        box-shadow: inset 5px 5px 10px rgba(255, 255, 255, 0.5), 0px 0px 0px rgba(255, 255, 255, 0.5);
    }
    .portfolio-websites-slider-right-arrow {
        background-image: linear-gradient(to bottom, var(--dark-grey), var(--dark-grey), var(--darker-grey));
        box-shadow: inset 5px -5px 10px rgba(255, 255, 255, 0.5), 0px 0px 0px rgba(255, 255, 255, 0.5);
    }
    .portfolio-websites-slider-left-arrow:hover,
    .portfolio-websites-slider-left-arrow:focus-visible,
    .portfolio-websites-slider-left-arrow:active {
        background-image: linear-gradient(to top, var(--darker-grey), var(--darker-grey), var(--darkest-grey));
        box-shadow: inset 5px 5px 10px rgba(255, 255, 255, 0.5), 0px 0px 0px rgba(255, 255, 255, 0.5);
    }
    .portfolio-websites-slider-right-arrow:hover,
    .portfolio-websites-slider-right-arrow:focus-visible,
    .portfolio-websites-slider-right-arrow:active {
        background-image: linear-gradient(to bottom, var(--darker-grey), var(--darker-grey), var(--darkest-grey));
        box-shadow: inset 5px -5px 10px rgba(255, 255, 255, 0.5), 0px 0px 0px rgba(255, 255, 255, 0.5);
    }
    .portfolio-websites-slider-left-arrow-dark-mode:hover,
    .portfolio-websites-slider-left-arrow-dark-mode:focus-visible,
    .portfolio-websites-slider-left-arrow-dark-mode:active {
        background-image: linear-gradient(to top, var(--darkest-grey), var(--darkest-grey), var(--dark-mode));
    }
    .portfolio-websites-slider-right-arrow-dark-mode:hover,
    .portfolio-websites-slider-right-arrow-dark-mode:focus-visible,
    .portfolio-websites-slider-right-arrow-dark-mode:active {
        background-image: linear-gradient(to bottom, var(--darkest-grey), var(--darkest-grey), var(--dark-mode));
}
}
@media only screen and (max-width: 601px) {
    .portfolio-websites-slider-container {
        flex-direction: column;
        align-items: center;
    }
    .portfolio-websites-slider-left-arrow,
    .portfolio-websites-slider-right-arrow {
        width: 100%;
        height: 48px;
    }
    .portfolio-websites-slider-left-arrow svg,
    .portfolio-websites-slider-right-arrow svg {
        width: 48px; /* Size for larger screens */
        height: 48px; /* Size for larger screens */
    }
    .portfolio-websites-slider-left-arrow > svg > path,
    .portfolio-websites-slider-right-arrow > svg > path {
        transform: rotate(90deg);
        transform-origin: center;
    }
    .portfolio-websites-slider-left-arrow {
        border-radius: 24px 24px 0 0;
    }
    .portfolio-websites-slider-container > figure {
        width: 100%;
    }
    .portfolio-websites-slider-right-arrow {
        margin-top: 7.9em;
        border-radius: 0 0 24px 24px;
    }
}

/*Portfolio website container accordion content that is displayed when the accordion is clicked on*/
@media only screen and (min-width: 650px) {
    .portfolio-websites-show-more-accordion-container-technology-used-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}
@media only screen and (max-width: 465px) {
    .portfolio-websites-show-more-accordion-container-paragraph {
        margin: 0 1em;
    }
}
@media only screen and (max-width: 390px) {
    .portfolio-websites-show-more-accordion-container-technology-used-container > div {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .contact-form-submit-button {
        min-width: 150px;
    }
}
@media only screen and (max-width: 375px) {
    .form-background {
        height: 31.38em;
    }
    .contact-form-validation-paragraph {
        font-size: 0.85rem;
        color: var(--light-mode);
    }
}

@media only screen and (max-width: 600px) {
    a.footer-navigation-link-backtotop {
      min-width: 150px;
    }
}
@media only screen and (max-width: 450px) {
    .footer-absolute-links span {
        display: block;
        margin-bottom: 0.5em;
    }
}
@media only screen and (max-width: 330px) { /*For the smallest screens*/
    .footer-bottom-copyright-sign {
        margin:auto auto 0.5em;
        width: 80%;
        line-height: 0.5em;
    }
}