/*
Responsive CSS Order:
1. The media query blocks are organized to follow the structure of the HTML, starting with elements that appear at the top and progressing downward.
2. If there is any group selectors in the media query block, they appear on the top of the media query block.
3. If there are any pseudo selectors or group pseudo selectors, they appear underneath the selectors they relate to.
4. Media queries are organized from the largest to the smallest screen sizes, with larger screen styles defined first and smaller screen styles overriding them as needed.
*/

/* Remove focus ring only on touch devices forcing no outline or border on tap while keeping focus visible for keyboard users */
@media (pointer: coarse), (hover: none) {
    svg.hamburger-menu-container:focus,
    svg.hamburger-menu-container:focus-visible {
        outline: none !important;
        box-shadow: none !important;
        -webkit-tap-highlight-color: transparent !important;
        border: none !important;
    }
}

/* High contrast mode: ensures arrows are always visible using currentColor */
@media (forced-colors: active) {
    .portfolio-websites-slider-left-arrow svg path,
    .portfolio-websites-slider-right-arrow svg path {
        stroke: currentColor;
        stroke-width: 4px;
    }
    .portfolio-websites-slider-left-arrow:hover svg path,
    .portfolio-websites-slider-right-arrow:hover svg path,
    .portfolio-websites-slider-left-arrow:focus-visible svg path,
    .portfolio-websites-slider-right-arrow:focus-visible svg path,
    .portfolio-websites-slider-left-arrow:active svg path,
    .portfolio-websites-slider-right-arrow:active svg path {
        stroke-width: 5px;
    }
}

@media only screen and (orientation: landscape) and (max-height: 550px) {
    .dark-mode-modal-container {
        position: absolute;
        margin-top: -2.25em;
        height: 328px;
        overflow-y: scroll;
    }
    .dark-mode-modal-second-paragraph {
        margin-bottom: 10em;
    }
    .dark-mode-modal-allow-button,
    .dark-mode-modal-decline-button {
        margin-top: 7.55em;
    }
    .dark-mode-modal-allow-button {
        margin-right: 25%;
    }
    .dark-mode-modal-decline-button {
        margin-left: 25%;
    }
}
@media only screen and (orientation: portrait) and (max-height: 650px) {
    .dark-mode-modal-container {
        position: absolute;
        margin-top: -4em;
        height: 468px;
        overflow-y: auto;
    }
    .dark-mode-modal-second-paragraph {
        margin-bottom: 10em;
    }
    .dark-mode-modal-allow-button {
        position: relative;
        margin: 1em 25% 0 0;
    }
    .dark-mode-modal-decline-button {
        position: relative;
        margin: 1em 0 0 25%;
    }
}
@media only screen and (orientation: landscape) and (max-height: 550px) and (min-width: 550px) {
    .dark-mode-modal-allow-button, .dark-mode-modal-decline-button {
        margin-top: 0.5em;
    }
  }
@media only screen and (min-width: 950px) {
    .dark-mode-modal-first-paragraph,
    .dark-mode-modal-second-paragraph {
        margin-top: 3.25em;
    }
}
@media only screen and (orientation: landscape) and (max-height: 550px) {
    .hcaptcha-modal-container {
        margin-top: -3em;
        height: 255px;
        padding-bottom: 10em;
        overflow-y: auto;
    }
}
@media only screen and (orientation: landscape) and (min-height: 550px) {
    .hcaptcha-modal-container {
        height: 255px;
    }
}
@media only screen and (orientation: portrait) and (max-height: 650px) {
    .hcaptcha-modal-container {
        margin-top: -3em;
        height: 255px;
        padding-bottom: 10em;
        overflow-y: auto;
    }
}
@media only screen and (orientation: portrait) and (min-height: 650px) {
    .hcaptcha-modal-container {
        height: 255px;
    }
}
@media only screen and (orientation: portrait) and (max-width: 332px) {
    .hcaptcha-modal-container {
        height: 275px;       
    }
}

@media only screen and (max-width: 313px) {
    body::before {
        background: var(--darker-grey);
    }
    .footer-section-container {
        margin-top: 8.125em;
    }
}

@media only screen and (max-width: 410px) {
    .top-navigation-bar-accordion-links > li {
        width: 75%;
        padding: 0.1em 0.70em;
        text-align: center;
    }
}
@media only screen and (max-width: 355px) {
    .top-navigation-bar-accordion-links > li {
        padding: 0.1em 0.30em;
    }
}

@media only screen and (min-width: 770px) {
    .landing-page-section-container {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 5em 0;
    }
    .landing-page-title-container {
        margin-top: 0.36em;
    }
    .laptop-image-container {
        margin-top: 1em;
    }
}
@media only screen and (max-width: 599px) {
    .landing-page-section-container {
        background: transparent;
    }
}

@media only screen and (min-width: 1180px) {
    .profile-content-container {
        display: flex;
        flex-direction: row-reverse;
    }
    .profile-introduction-container {
        width: 50%;
        margin: 0;
        padding: 2.5em 3em 0;
        border-radius: 24px 0 0 24px;
    }
    .profile-right {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding: 3em 0;
    }
    .profile-headshot {
        position: static;
        width: 268px;
        height: 268px;
        margin: 0 0 2em 0;
    }
    .profile-quotation-container {
        position: static;
        margin: 0;
    }
}
@media only screen and (max-width: 685px) {
    .profile-quotation-container {
        margin-top: 10.75em;
    }
    .profile-introduction-container {
        margin-top: -14.25em;
        padding-top: 17.25em;
    }
}
@media only screen and (max-width: 600px) {
    .profile-introduction-download-cv-button {
        min-width: 150px;
        margin: 3.5em auto 3em;
    }
}
@media only screen and (max-width: 465px) {
    .profile-introduction-container {
        width: 100%;
        margin: -14.25em auto 0;
    } 
}
@media only screen and (min-width: 1000px) {
    .section-introduction-container {
        width: 43.5%;
    }
}

@media only screen and (min-width: 1200px) {
    .portfolio-websites-slider-container {
        width: 50%;
    }
}
@media only screen and (max-width: 770px) {
    .portfolio-websites-slider-container {
        width: 100%;
    }
}
@media only screen and (max-width: 650px) {
    .portfolio-websites-button-container {
        flex-direction: column;
        align-items: center;
        background-color: transparent;
    }
    .portfolio-websites-view-website-button,
    .portfolio-websites-view-source-code-button {
        width: 95%;
        border: 0.01px solid var(--light-grey);  
        border-radius: 24px;
    }
    .portfolio-websites-view-website-button {
        margin: 0 0.75em 0.75em;
    }
    .portfolio-websites-view-source-code-button {
        margin: 0 0.75em 0 0.75em;
    }
}
@media only screen and (max-width: 601px) {
    .portfolio-websites-slider-container {
        flex-direction: column;
        align-items: center;
    }
    .portfolio-websites-slider-left-arrow,
    .portfolio-websites-slider-right-arrow {
        width: 100%;
        height: 48px;
    }
    .portfolio-websites-slider-left-arrow svg,
    .portfolio-websites-slider-right-arrow svg { /* SVG size for larger screens */
        width: 48px;
        height: 48px;
    }
    .portfolio-websites-slider-left-arrow > svg > path,
    .portfolio-websites-slider-right-arrow > svg > path {
        transform: rotate(90deg);
        transform-origin: center;
    }
    .portfolio-websites-slider-container > figure {
        position: relative;
        display: inline-block;
        width: 100%;
    }
    .portfolio-websites-slider-right-arrow {
        margin-top: 22.25em;
    }
}
@media only screen and (max-width: 601px) {
    .images-coming-soon {
        position: absolute;
        margin-top: 9em;
        text-align: center;
    }
    .portfolio-websites-slider-image.placeholder {
        width: 100%;
        height: 300px;
        outline: 1px solid var(--dark-mode);
    }
    .portfolio-websites-slider-image {
        outline: 1px solid var(--dark-mode);
    }
}
@media only screen and (min-width: 601px) {
    .portfolio-websites-slider-container > figure {
        outline: 1px solid var(--dark-mode);
    }
}
@media only screen and (max-width: 550px) {
    .portfolio-websites-title-container {
        display: flex;
        align-items: center;
        height: 130px;
    }
}

/* Portfolio website accordion content displayed when the section is expanded */
@media only screen and (min-width: 650px) {
    .portfolio-websites-show-more-accordion-container-technology-used-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}
@media only screen and (max-width: 465px) {
    .portfolio-websites-show-more-accordion-container-paragraph {
        margin: 0 1em;
    }
}
@media only screen and (max-width: 390px) {
    .portfolio-websites-show-more-accordion-container-technology-used-container > div {
        width: 50%;
    }
}

@media only screen and (min-width: 1280px) {
    .contact-form-container {
        width: 80%;
        margin: 2.5em auto;
    }
    .form-background {
        padding: 3.5em 10% 0 20%;
        transition: padding 0.25s linear;
    }
    .contact-form-input-box {
        width: 80%;
        border: 1px solid var(--dark-mode);
        transition: border-radius 0.25s linear;
    }
    .contact-form-validation-paragraph {
        width: 80%;
    }
    .contact-form-input-box-message {
        border-bottom: 16px solid var(--primary-color);
    }
    .contact-form-input-box-message:focus {
        border-bottom: 16px solid var(--primary-color);
    }
}
@media only screen and (max-width: 600px) {
    .contact-form-submit-button {
        min-width: 150px;
    }
}
@media only screen and (max-width: 375px) {
    .form-background {
        height: 44em;
    }
    .contact-form-validation-paragraph {
        font-size: 0.85rem;
        color: var(--light-mode);
    }
}

@media only screen and (max-width: 600px) {
    a.footer-navigation-link-backtotop {
        min-width: 150px;
    }
}
@media only screen and (max-width: 450px) {
    .footer-absolute-links span {
        display: block;
        margin-bottom: 0.5em;
    }
}
@media only screen and (max-width: 330px) { /* For the smallest screens */
    .footer-bottom-copyright-sign {
        margin:auto auto 0.5em;
        width: 80%;
        line-height: 0.5em;
    }
}