/*css variables*/
@font-face { font-family: "roboto-bold"; src: url(./assets/fonts/roboto-bold-webfont.woff2);}
@font-face { font-family: "roboto-light"; src: url(./assets/fonts/roboto-light-webfont.woff2);}
@font-face { font-family: "roboto-medium"; src: url(./assets/fonts/roboto-medium-webfont.woff2);}
@font-face { font-family: "roboto-regular"; src: url(./assets/fonts/roboto-regular-webfont.woff2);}
@font-face { font-family: "tomorrow-light"; src: url(./assets/fonts/tomorrow-light-webfont.woff2);}
@font-face { font-family: "tomorrow-regular"; src: url(./assets/fonts/tomorrow-regular-webfont.woff2);}
:root {
    --primary-color: #FFA724;
    --secondary-color: #A26D5F;
    --third-color: #FFCC7E;
    --darkest-grey: #404040;
    --darker-grey: #646464;
    --dark-grey: #959595;
    --light-grey: #C6C6C6;
    --lightest-grey: #EAEAEA;
    --dark-mode: #242424;
    --light-mode: #FEFEFE;
}
*, *::after, *::before {
    box-sizing: border-box;
}
body {
    position: relative; 
    margin: 0;
    overflow-x: hidden;
}
body::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background-image: url("./assets/images/code-image.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(3px); 
    z-index: -2; 
}
.top-navigation-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    top: 0;
    padding-left: 2rem;
    background-color: var(--primary-color);
    z-index: 10;
}
.logo {
    width: 5rem;
    height: 2.5rem;
    margin-right: auto;
    /*! border: solid 1px var(--darker-grey); !temporary border */
}
.logo-path1 {
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.logo-path2 {
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.logo-path3 {
    stroke: var(--darker-grey);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.logo-path4, .logo-path5, .logo-path7, .logo-path8 {
    fill: var(--lightest-grey);
}
.logo-path6 {
    stroke: var(--dark-grey);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.logo-path9 {
    fill: var(--lightest-grey);
    stroke-linecap: round;
    stroke-width: 0.1rem;
}
.logo-path10 {
    stroke: var(--darker-grey);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.logo-path11 {
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.logo-path12 {
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.dark-mode-icon-container ul {
    margin: 0;
    padding: 0;
    /*! border: solid 1px var(--darker-grey); !temporary border */
}
li {
    list-style-type: none;
}
.hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;
    margin-right: 2rem;
    /*! border: solid 1px var(--darker-grey); !temporary border */
}
.hamburger-menu-topline {
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.hamburger-menu-middleline {
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.hamburger-menu-bottomline {
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.30rem;
}
.accordion-navigation-bar-hide {
    position: absolute;
    visibility: hidden;
}
.accordion-navigation-bar {
    position: fixed;
    width: 100%;
    height: 2.5rem;
    top: 0;
    margin-top: 2.5rem;
    background-image: linear-gradient(to bottom, var(--primary-color), var(--third-color));
    z-index: 10;
}
.accordion-navigation-bar-nav .accordion-navigation-bar-ul .accordion-navigation-bar-li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 2.5rem;
}
.accordion-navigation-bar-ul {
    margin: 0;
    padding-left: 0;
}
.accordion-navigation-bar-li a {
    padding: 0.1rem 1rem;
    font-family: "roboto-medium", Arial;
    color: var(--dark-mode);
    text-decoration: none;
    transition: background 0.5s ease-in;
}
@media only screen and (max-width: 410px) {
    .accordion-navigation-bar-li a {
        padding: 0.1rem 0.5rem;
        width: 75%;
        text-align: center;
    }
}
.accordion-navigation-bar-li a:hover {
    color: var(--light-mode);
    background-color: var(--secondary-color);
}
main {
    background-color: var(--light-mode);
}
.anchor {
    position: absolute;
    margin-top: -5rem;
}
.landing-page-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding: 5rem 0;
    border: solid 1px #000; /*!temporary border*/
    /*!temporary/experimental background*/
    background-attachment: fixed;
    background-image: url("./assets/images/background-image-tag.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    background-position-x: center;
}
.landing-page-title p {
    margin: 0;
    font-family: "roboto-bold", Arial;
}
.p1, .p2, .p5, .p6, .p7 {
    display: inline;
}
.p2, .p8 {
    font-size: 4rem;
    color: var(--lightest-grey);
}
.p3, .p4, .p5 {
    padding-left: 2rem;
}
.p3, .p4, .p5, .p6, .p7 {
    font-size: 1.2rem;
}
.p1  {
    position: relative;
    font-size: 2rem;
    z-index: 5;
}
.p2 {
    position: relative;
    top: 0.5rem;
    left: 1rem;
    z-index: 3;
}
.welcome-background-one {
    position: absolute;
    display: inline-block;
    width: 13.5rem;
    height: 2.4rem;
    margin: 2rem 0 0 -9rem;
    background-color: var(--dark-grey);
    opacity: 50%;
    z-index: 2;
}
.welcome-background-two {
    position: absolute;
    display: inline-block;
    width: 15rem;
    height: 1rem;
    margin: 3.75rem 0 0 -8rem;
    background-color: var(--light-grey);
    opacity: 50%;
    z-index: 1;
}
.p6 {
    color: var(--primary-color);
}
.p7 {
    position: relative;
    right: 0.25rem;
}
.laptop-image-container {
    height: 12.125rem;
    margin-top: 2rem;
    border: 0.01px solid rgb(0, 255, 17); /*!temporary border*/
}
.laptop-image1 {
    fill: var(--dark-mode);
}
.laptop-image2 {
    fill: var(--light-grey);
}
.laptop-image3 {
    fill: var(--dark-grey);
}
.laptop-image4 {
    fill: var(--darker-grey);
}
.laptop-image5 {
    fill: var(--darkest-grey);
}
.laptop-image6 {
    fill: var(--darkest-grey);
}
.laptop-image7 {
    stroke: var(--dark-mode);
    fill: none;
    stroke-width: 0.05rem;
}
.laptop-image8 {
    stroke: var(--dark-mode);
    fill: none;
    stroke-width: 0.05rem;
}
.laptop-image9 {
    fill: var(--dark-mode);
}
.laptop-image10 {
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 1.25rem;
}
.laptop-image-code1 {
    stroke: var(--primary-color);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.15rem;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
}
@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}
.section-title-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8.125rem;
    background-color: var(--darker-grey);
}
.section-title {
    padding-top: 3.5rem;
    font-size: 2.813rem;
    font-family: "tomorrow-light";
    color: var(--light-mode);
    letter-spacing: 0.75rem;
}
.profile-content {
    width: 100%;
    min-height: 100vh;
    border: solid 1px #05ff0d; /*!temporary border*/
}
.profile-content-container-background {
    display: block;
    width: 80%;
    margin: 0 auto 5rem;
    padding-bottom: -1rem;
    background-color: var(--lightest-grey);
    border-radius: 1.5rem;
}
.profile-content-container {
    margin: -3.5rem 2rem 1rem;
    padding: 6.5rem 1rem 1.25rem 1rem;
    font-family: "roboto-regular", Arial;
    background-image: linear-gradient(to bottom, rgba(162, 109, 95, 100%), rgba(255, 255, 255, 0%));
}
.profile-content-greeting {
    margin-bottom: 0;
    font-size: 2.813rem;
    font-family: "tomorrow-regular", Arial;
    color: var(--primary-color);
}
.profile-content-container > p {
    display: inline-block;
    margin-top: 0;
}
.profile-headshot {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    margin-bottom: -8.8rem;
    box-shadow: 0.1rem 0.1rem 0.5rem var(--darker-grey);
    border-radius: 50%;
    /*! border: 0.01rem solid var(--dark-mode); temporary border*/
}
.quotation-container-background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.75rem;
    height: 7.313rem;
    margin-left: auto;
    padding: 0 1rem;
    font-size: 1rem;
    font-family: "roboto-bold", Arial;
    color: var(--darker-grey);
    background-color: var(--light-grey);
    text-align: center;
    border-radius: 1.5rem;
}
@media only screen and (max-width: 570px) {
    .profile-content-container {
        margin-top: -14.25rem;
        padding-top: 15.25rem;
    }
    .quotation-container-background {
        margin-top: 10.75rem;
    }
}
q::before {
    position: absolute;
    display: block;
    margin: -1.4rem 0 0 -1.6rem;
    content: open-quote;
    font-size: 4.688rem;
    font-family: none;
    color: var(--darker-grey);
}
q::after {
    position: absolute;
    display: block;
    margin: -2rem 0 0 14.2rem;
    content: close-quote;
    font-size: 4.688rem;
    font-family: none;
    color: var(--darker-grey);
}
.download-cv-button {
    width: 58.5%;
    height: 3rem;
    margin: 1rem 0 1rem 20.752%;
    font-size: 1rem;
    font-family: "roboto-bold", Arial;
    color: var(--light-mode);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 50rem;
}
.download-cv-button:hover {
    filter: brightness(90%);
}
.section-introduction-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.section-introduction-container h2 {
    margin-top: 4rem;
    font-size: 1.5rem;
    font-family: "roboto-bold", Arial;
    text-align: center;
}
.section-introduction-container p {
    margin: 0.5rem 0;
    font-family: "roboto-regular", Arial;
}
.top-hr-element {
    margin-top: 1.75rem;
}
hr {
    margin: 0;
}
.portfolio-website-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.portfolio-website-title-container {
    margin: 5rem 0 2.5rem;
    width: 80%;
    font-family: "roboto-medium", Arial;
    color: var(--light-mode);
    background-image: linear-gradient(to bottom, var(--dark-mode), var(--primary-color));
    text-align: center;
}
.portfolio-website-slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
    width: 80%;
}
.portfolio-website-slider-container > figure {
    width: 80%;
    padding-top: 0.25rem;
    margin: 0;
}
.left-arrow, .right-arrow {
    width: 3rem;
    height: 6.563rem;
    margin: 0;
    background-color: var(--dark-grey);
}
.left-arrow {
    border-radius: 1.5rem 0 0 1.5rem;
}
.right-arrow {
    border-radius: 0 1.5rem 1.5rem 0;
}
.image-slider {
    width: 100%;
    height: 6.563rem;
    background-color: #000; /*!temporary background*/
}
.portfolio-website-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    background-color: var(--secondary-color);
}
@media only screen and (max-width: 650px) {
    .portfolio-website-button-container {
        flex-direction: column;
        align-items: center;
    }
}
.view-button {
    width: 100%;
    padding: 0.25rem 1rem;
    font-size: 1rem;
    font-family: "roboto-bold", Arial;
    color: var(--light-mode);
    background-color: var(--secondary-color);
    border-left: 0.01rem solid var(--light-mode);
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.view-button:hover {
    filter: brightness(90%);
}
@media only screen and (max-width: 650px) {
    .view-button {
        border-top: 0.01rem solid var(--light-mode);
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
}
.portfolio-website-content-container-accordion {
    width: 80%;
    height: auto;
    padding: 0 0;
    font-family: "roboto-regular", Arial;
    background-color: var(--light-grey);
}
.portfolio-website-content-container > p {
    margin: -1rem 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.show-more-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.show-more-button p {
    width: 10rem;
    padding: 1.5rem 0 0 2.5rem;
    font-family: "roboto-bold", Arial;
}
.show-more-accordion h4 {
    display: none;
}
.show-more-accordion .hidden {
    display: none;
}
.show-more-accordion .technology-used-container {
    display: none;
}
.show-more-arrow {
    width: 3rem;
    height: 3rem;
    margin: -1rem 0 2rem 0;
    stroke: var(--dark-mode);
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.25rem;
    border: 0.01rem solid var(--light-grey);
}
.technologies-used-title {
    text-align: center;
}
.technology-used-container {
    width: 80%;
    margin: auto auto 2rem;
    background-color: var(--secondary-color);
    border-radius: 1.5rem;
}
.contact-content {
    min-height: 100vh;
    border: 1px solid #ff0000; /*!temporary border*/
}
.contact-form-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2.5rem auto 5rem;
}
.contact-form-top-background {
    width: 100%;
    height: 5.75rem;
    background-image: linear-gradient(to bottom, var(--light-grey), var(--light-mode));
}
.envelope-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.fa-envelope {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to bottom, var(--dark-mode), var(--secondary-color));
}
form {
    width: 100%;
}
label {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: -1.5rem 0;
    font-size: 1rem;
    font-family: "roboto-bold", Arial;
    color: var(--darker-grey);
    text-align: center;
    letter-spacing: 0.01rem;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--lightest-grey);
}
::-moz-placeholder { /* Firefox 19+ */
    color: var(--lightest-grey);
}
:-ms-input-placeholder { /* IE 10+ */
    color: var(--lightest-grey);
}
:-moz-placeholder { /* Firefox 18- */
    color: var(--lightest-grey);
}
.form-input {
    width: 100%;
    height: 3rem;
    margin-bottom: 2.5rem;
    padding: 0.95rem;
    font-size: 1rem;
    font-family: "roboto-regular", Arial;
    background-color: var(--lightest-grey);
    border: 0.01rem solid var(--dark-mode);
}
.form-input:focus {
    padding: 0.95rem;
    outline-style: solid;
    outline-color: var(--secondary-color);
    border: 0.01rem solid var(--secondary-color);
    border-bottom: 0.125rem solid var(--secondary-color) ;
    filter: brightness(96%);
}
.form-input:hover {
    filter: brightness(96%);
}
.form-input-message {
    resize: none;
    height: 12.688rem;
}
.contact-form-button {
    width: 50%;
    height: 3rem;
    margin-left: 25%;
    font-size: 1rem;
    font-family: "roboto-bold", Arial;
    color: var(--light-mode);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 50rem;
}
.contact-form-button:hover {
    filter: brightness(90%);
}
.footer-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15rem;
    min-height: 100vh;
    background-color: var(--light-mode);
    align-items: center;
    text-align: center;
    border: 1px solid #8c00ff; /*!temporary border*/
}
ul {
    margin: 0 0 2rem 0;
    padding: 0;
}
.footer-links li:first-child {
    margin-bottom: 1rem;
}
.footer-links a {
    font-size: 1rem;
    font-family: "roboto-bold", Arial;
    color: var(--primary-color);
    text-decoration: none;
    line-height: 2.5rem;
}
.footer-links a:hover {
    color: var(--secondary-color);
}
a.footer-link-backtotop {
    color: var(--dark-mode);
}
a.footer-link-backtotop:hover {
    color: var(--secondary-color);
}
.absolute-footer-links {
    font-size: 1rem;
    font-family: "roboto-regular", Arial;
}
.absolute-footer-links a {
    color: var(--primary-color);
    text-decoration: none;
}
.absolute-footer-links a:hover {
    color: var(--secondary-color);
}
.footer-bottom {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 5rem;
    bottom: 0;
    background-image: linear-gradient(to top, var(--dark-mode), var(--dark-mode), var(--dark-mode), var(--primary-color));
}
.footer-icons {
    margin: 0;
}
.footer-icons a {
    color: var(--light-mode);
}
.footer-copyright {
    display: inline;
    font-size: 0.5rem;
    font-family: "roboto-light", Arial;
    color: var(--dark-grey);
}
.footer-copyright-sign {
    font-size: 1.5rem;
}